.error {
	font: 12px arial, sans-serif;
	font-weight: normal; 
	display: inline-block;
}
.menuText {
	font: 12px arial, sans-serif;
//	font-family:SAP-icons;
	font-weight: normal; 
}
.clauseContainer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-webkit-flex-direction: column;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	-webkit-align-content: flex-start;
	align-content: flex-start; 
	align-items: flex-start;
	width: auto
}
.conceptClauseContainer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: auto
}
.propertyClauseContainer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	align-items: center;
	align-content: center; 
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.propertyConjunctionContainer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	width: 60px
}

.propertyContainer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: auto
}

.clauses {
	font: 12px arial, sans-serif;
	font-weight: normal; 
}

.conceptClause {
	font: 12px arial, sans-serif;
	font-weight: normal; 
	display: inline-block;
	vertical-align: middle;
}

.propertyClause {
	font: 12px arial, sans-serif;
	font-weight: normal; 
	display: inline-block;
}

.objectPropertyClause {
	font: 12px arial, sans-serif;
	font-weight: normal; 
	display: inline-block;
}

.dataPropertyClause {
	font: 12px arial, sans-serif;
	font-weight: normal; 
	display: inline-block;
}

.dataPropertyValue {
	font: 12px arial, sans-serif;
	font-weight: normal; 
	display: inline-block;
	//width: 120px;
}

.dataPropertyValue input {
	font: 12px arial, sans-serif;
	font-weight: bold; 
	display: inline-block;
	width: 100%;
}

.dataPropertyValue>span {
	display: none
}

.resultValue {
	font: 12px arial, sans-serif;
	font-weight: normal; 
	display: inline-block;
}

.clause {
	font: 12px arial, sans-serif;
	font-weight: normal; 
	display: inline-block;
}

.conjunctionClause {
	font: 12px arial, sans-serif;
	font-weight: normal; 
	display: inline-block;
}

.menuLink {
	font: 12px arial, sans-serif;
	font-weight: bold; 
	display: inline-block;
}

.conceptMenuLink {
	font: 12px arial, sans-serif;
	font-weight: bold;
	color:white;
	display: inline-block;
	background-color: #633990;//lightgrey;
	border: 2px solid #666690;//navy;
	padding: 5px;
}

.objectPropertyMenuLink {
	font: 12px arial, sans-serif;
	font-weight: bold;
	display: inline-block;
	background-color: #FF9966;//lightgrey;
	border: 2px solid #EF7200;//navy;
	padding: 5px;
	}

.dataPropertyMenuLink {
	font: 12px arial, sans-serif;
	font-weight: bold;
	color:white;
	display: inline-block;
	background-color:  #669999; //yellow;
	border: 2px solid  #048C9D; //navy;
	padding: 5px;
	border-radius: 10px;
}

.conjunctionMenuLink {
	font: 12px arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	display: inline-block;
}

.strikethrough {
	text-decoration: line-through;
	color: lightgrey;
}

.tile-hdr {
	border-bottom-color: #FFFFFF;
	color: #FFFFFF;
	background-color: #FFFFFF;
	min-height: 27px; //
	border: none;
	border-bottom: 2px solid #FFFFFF;
}

.tile {
	border: 5px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	box-shadow: 5px 5px 7px #808888;
	margin-right: 10px;
}